body {
  background-image: url("./images/restaurant.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

nav {
  padding: 2rem 0;
}

.small-screen {
  display: none;
}

nav ul li img {
  border-radius: 4px;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color: #fff;
}

nav ul li,
button {
  cursor: pointer;
}

a {
  color: #fff;
  text-decoration: none;
}

#logo {
  max-width: 8rem;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
}

button {
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
}

.main-intro {
  max-width: 60ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-intro p {
  font-size: 1.2rem;
}

main img {
  image-rendering: -webkit-optimize-contrast;
}

.img-sec {
  display: flex;
  gap: 4rem;
}

.img-sec img {
  max-width: 16rem;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 4rem;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  width: 60%;
}

.menu-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 4rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.top {
  white-space: nowrap;
  display: flex;
  gap: 2rem;
}

.top div {
  flex: 1;
}

.content p {
  max-width: 60ch;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

footer {
  position: fixed;
  background-color: #000;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

/* @media screen and (max-width: 980px) {
  .content {
    width: 100% !important;
    max-width: 100% !important;
  }
} */

@media screen and (max-width: 480px) {
  .large-screen {
    display: none;
  }

  .small-screen {
    display: contents;
  }

  .small-screen ul {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }

  main {
    max-width: 40ch;
  }

  .content {
    width: 100%;
    padding: 2rem;
  }
  .img-sec img {
    max-width: 8rem;
  }
}
